img {
    width: 400px;
    height: 500px;
}

body {
    background-color: ECEFFI;
}
  
h1 {
    color: #263238;
}

h2 {
    color: #37474F
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}


  